#container {
    margin: 50px;
    padding: 20px;
    /* background-color: rgba(29, 31, 31, 0.568); */

}

/* .cls:hover {
    border: 2px solid red;
    background-color: blueviolet;
} */

.demo{
    background-color: aqua;
}